*, *::before, *::after {
    box-sizing: border-box;
    font-family: Trebuchet MS, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background:linear-gradient(to right, #48D1CC, #F0E68C);
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #808080;
    outline: none;
    background-color: #D3D3D3;
  }
  
  .calculator-grid > button:hover {
    background-color: #C0C0C0	;
  } 
  
  
  .output {
    grid-column: 1 / -1;
    background-color: #A9A9A9;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: 3px solid #808080;
  }
  
  .output .previous-result {
    color: #2F4F4F;
    font-size: 1.5rem;
  }
  
  .output .current-result {
    color: #000000;
    font-size: 2.5rem;
  }

  .clear {
    grid-column: span 2;
  }